envs
avi_files
jsons
reduced_framerate_raw_videos
texts*
videos_with_skeletons
csv_files
skeletons_json
subtitles_csv
subtitles_text
subtitles_translated_csv
subtitles_translated_csv.v2
skeleton_csv
dump
skeleton_subtitle_jsons
video_embeddings_cropped
video_embeddings
cropped_videos
